body {
    font-family: Helvetica, sans-serif;
    background-color: antiquewhite;

}
/* html tag styles */
h1 {
    color:cadetblue;
    font-size: 50px;
    padding-bottom: 16px;
    text-align: center;
}

h3{
    color: cadetblue;
    font-size: 25px;
}
/* controls the attributes of all 
img tags in project */
img {
    border-radius: 10px;
    border: 10px solid cadetblue;

    width: 500px;
    height:"auto";
    display:block;
    margin: 0 auto;
   

}

p {
    font-size: 20px;
}
/* style ol tags */
.olist {
    color:cadetblue;
    margin-left: 15%;
    font-size: 30px;
    padding: 10px;
    font-size: 30px;
   
}



.ulist {
    padding: 10px;
    font-size: 20px;
    
}

a{
    font-size: 40px;
    text-decoration: none;
    color:cadetblue;
    padding: 16px;
    text-align: center;
    position: relative;
}

a:hover{
    color:darkblue;
}
/* removes dots in index */
.list {
    list-style: none;
}
/* centers p and ul tags in index  */
.spacing {
    text-align: center ;
    
}
/* shifts h3 ul and p tags under img tag in
pizza, gelato, and lasagna.html */
.shifted , .ulist {
    padding-left: 23%;
}
/* shifts the links on the bottom of the page */
.shift2 {
    padding-left: 10%;

}