body {
    font-family: Helvetica, sans-serif;
    background-color: antiquewhite;

}

h1 {
    color:cadetblue;
    font-size: 50px;
    padding-bottom: 16px;
    text-align: center;
}

img {
    border-radius: 10px;
    border: 4px solid rebeccapurple;
    width: 500px;
    height:"auto";
    display:block;
    margin-left:auto;
    margin-right:auto;
   

}
.spacing {
    text-align: center ;
   
}

a{
    font-size: 40px;
    text-decoration: none;
    color:cadetblue;
    padding: 16px;
    text-align: center;
    position: relative;

}
 p {
    font-size: 20px;
 }


li {
    padding: 10px;
    font-size: 20px;
   
}


.shifted {
    padding-left: 23%;
}

.list {
    list-style: none;
}




a:hover{
    color:darkblue;
}

h3{
    color: cadetblue;
    font-size: 25px;

}

ol {
    color:cadetblue;
    padding-left: 10%;
}

/* shifts the links on the bottom of the page */
.shift2 {
    padding-left: 10%;

}