body {
    font-family: Helvetica, sans-serif;
    background-color: antiquewhite;

}

img {
    border-radius: 10px;
    border: 4px solid rebeccapurple;
    width: 500px;
    height:"auto";
    display:block;
    margin-left:auto;
    margin-right:auto;

}
.spacing {
    text-align: center ;
    text-overflow: 50;
}
.text {
    font-size: 18px;

}

.list,a{
    font-size: 20px;
    text-decoration: none;
    color:darkblue;

}